@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Login Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6 mx-4">

            <!-- Login -->
            <div class="card p-7">
                <!-- Logo -->
                <div class="app-brand justify-content-center mt-5">
                    <a href="/" class="app-brand-link gap-3">
                        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                        <span class="app-brand-text demo text-heading fw-semibold">@TempData.Peek("appName")</span>
                    </a>
                </div>
                <!-- /Logo -->

                <div class="card-body mt-1">
                    <h4 class="mb-1">Welcome to @TempData.Peek("appName")! 👋🏻</h4>
                    <p class="mb-5">Please sign-in to your account and start the adventure</p>

                    <form id="formAuthentication" class="mb-5">
                        <div class="form-floating form-floating-outline mb-5">
                            <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus>
                            <label for="email">Email or Username</label>
                        </div>
                        <div class="mb-5">
                            <div class="form-password-toggle">
                                <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                        <label for="password">Password</label>
                                    </div>
                                    <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5 pb-2 d-flex justify-content-between pt-2 align-items-center">
                            <div class="form-check mb-0">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                            <a href="/Auth/ForgotPasswordBasic" class="float-end mb-1">
                                <span>Forgot Password?</span>
                            </a>
                        </div>
                        <div class="mb-5">
                            <button class="btn btn-primary d-grid w-100" type="button" name="BtnLogin" onclick="login()">login</button>
                        </div>
                    </form>

                    <p class="text-center mb-5">
                        <span>New on our platform?</span>
                        <a href="/Auth/Register">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Login -->
            <img src="~/img/illustrations/tree-3.png" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
            <img src="~/img/illustrations/auth-basic-mask-light.png" class="authentication-image d-none d-lg-block" height="172" alt="triangle-bg" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
            <img src="~/img/illustrations/tree.png" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
        </div>
    </div>
</div>

<script>
    var base_url = location.protocol + '//' + document.location.host;
</script>

<script>
    var urls = {
        Login: base_url + "/api/Users/Login",
    };

   function login(){
        let usernameOrEmail = document.getElementById("email").value;
        let password = document.getElementById("password").value;
       
      

        if (usernameOrEmail === null || usernameOrEmail.trim() === "") {
            // Handle the case where the value is null or empty
            alert("username or email cannot null")

        } else {
            const apiUrl = `${urls.Login}?username=${encodeURIComponent(usernameOrEmail)}&password=${encodeURIComponent(password)}`;

            $.ajax({
                url: apiUrl,
                type: "POST",
                datatype: "JSON",
                contentType: "application/json",
                beforeSend: function (before) {
                    $("button[name='BtnLogin']").text('Sedang memuat, mohon tunggu...').attr("disabled", true);

                },
                success: (response) => {
                    console.log(response)
                    if (response.isSuccess) {
                        //iziToast.success({
                        //    title: "Login Berhasil Selamat Datang " + response.Data.firstName,
                        //    message: 'Anda akan diarahkan kehalaman utama',
                        //    position: 'topRight',
                        //    timeout: 3000
                        //});
                        console.log(base_url);
                        setTimeout(function () {
                            window.location.href = base_url + "/Dashboard";
                        }, 3000);
                    }else{
                        console.log(response)
                        alert("username or password not found");
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    // Handle errors here
                },
                complete: function () {
                    $("button[name='BtnLogin']").text('Login').attr("disabled", false);
                }

            })
        }
    }

</script>